<%- include ("partials/header")%>



	<h2>
		<%=country.Country%>
	</h2>
	
<p>
		<%=country.Population%>
	</p>
	<p>
		<%=country.confirmedCases%>
	</p>
	<p>
		<%=country.suspectedCases%>
	</p>
	<p>
		<%=country.Deaths%>
	</p>


<%- include ("partials/footer")%>
